@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
}

.container {
    margin-top: 30px;
    width: 800px;
    height: 800px;
    background-image: url(/images/background-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    border: solid 3px red;
}

.title-box {
    margin-top: 2%;
    height: auto;
}

h1{
    text-align: center;
    font-size: xxx-large;
    font-weight: bolder;
    color: red;
    margin-left: 60px;
}

#img1{
    display: flex;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 30%;
    transform: rotateY(180deg);
    
}

#img2{
    display: flex;
    position: absolute;
    top: 20%;
    left: 55%;
}

#rock{
    position: absolute;
    left: 32%;
    top: 75%;
    visibility: hidden;
}

#paper{
    position: absolute;
    left: 45%;
    top: 75%;
    visibility: hidden;
}

#scissors{
    position: absolute;
    top: 75%;
    left: 58%;
    visibility: hidden;
}

#start{
    position: absolute;
    align-items: baseline;
    background-color: darkgreen;
    top: 75%;
    left: 45%;
}

@keyframes shakeLeft {
    0%{
        transform: rotateY(180deg) translateY(0px);
    }
    50%{
        transform: rotateY(180deg) translateY(-50px);
    }
    100%{
        transform: rotateY(180deg) translateY(0px);
    }
}

@keyframes shakeRight {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}

/* MATCH HISTORY */

.history {
    margin-top: 2%;
    height: 100px;
    width: 200px;
    background-color: whitesmoke;
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
}
.match-title {
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
}

/* SCOREBOARD */

.score {
    margin-top: 2%;
    height: 100px;
    width: 200px;
    background-color: whitesmoke;
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
}

.score-title {
    font-size: 15px;
    text-align: center;
}

.char1 {
    font-size: 10px;
    color: green;
}

.char2 {
    font-size: 10px;
    color: red;
}

